<!-- This file is a copy of index.html and without bootstrap. -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Text Utilities</title>
  </head>
  <body>
<h1>Welcome Text analysis app. Enter a text to continue.</h1>

    <form class="" action="/analyze" method="get">
      <textarea name="text" rows="8" cols="80" style="margin: 0px; width: 687px; height: 128px;"></textarea><br>

      <input type="checkbox" name="removepunc">
      <label for="removepunc">Remove Punctuation</label>

      <input type="checkbox" name="removenewline">
      <label for="removenewline">Remove New lines</label>

      <input type="checkbox" name="removeExtraSpace">
      <label for="removeExtraSpace">Remove Extra Space</label>

      <input type="checkbox" name="charactersCount">
      <label for="charactersCount">Characters Count</label>

      <input type="checkbox" name="allcaps">
      <label for="allcaps">Uppercase</label><br><br>

      <button type="submit">Analyse Text</button>
    </form>
  </body>
</html>
